body {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 47px;
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 rgba(0,0,0,0.24);
}

.header-logo img {
  width: 110px;
  height: 18px;
}
.header-logo:hover {
  background-color: #ca2c37;
}

.header-logo:active {
  background-color: #ba2732;
}

.header a {
  color: #ffffff;
}

.header ul {
  list-style: none;
}

.header-top {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.search input {
  border: none;
  color: #ffffff;
  background-color: #293449;
}

.search input::placeholder {
  color: #ffffff;
}

.search input:hover,
.favorites:hover,
.basket:hover {
  background-color: #212a3a;
}

.search input:active {
  background-color: #293449;
}

.search input:focus {
  color: #000000;
  background-color: #ffffff;
}

.favorites:active,
.basket:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.basket-filled {
  background-color: #ee3643;
}

.basket-filled:hover {
  background-color: #ca2c37;
}

.basket-filled:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #ba2732;
}

.order-button {
  background-color: #63a63e;
}

.order-button:hover {
  background-color: #5fbb2d;
}

.order-button:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

.header-middle {
  background-color: #f4f7f9;
}

.header-middle .sitename {
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
}

.header-middle .phone {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
}

.header-middle .address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.auth-buttons a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.auth-buttons a:hover {
  color: #ee3643;
}

.auth-buttons a:active {
  opacity: 0.3;
}

.client a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.client-data a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.client-data a:hover {
  color: #ee3643;
}

.client a:active,
.client-data a:active {
  opacity: 0.3;
}

.header-navigation {
  background-color: #32425c;
  border-bottom: 5px solid #293449;
}

.header-navigation li:hover {
  background-color: #293449;
}

.header-navigation li:active {
  opacity: 0.5;
  background-color: #1d2739;
}

.h1,
.h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.h1 {
  color: #32425c;
  background-color: #f1f5f7;
}

.about p {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;;
  line-height: 18px;
}

.about ul {
  font-size: 18px;;
  line-height: 20px;
  list-style: none;
}

.button-red {
  font-size: 14px;;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
}

.button-red:hover {
  background-color: #ca2c37;
}

.button-red:active {
  background-color: #ba2732;
}

.main-inner {
  font-family: 'PT Sans', Arial, sans-serif;
}

.main-inner .h1,
.main-inner .h2 {
  font-family: 'Cuprum', Arial, sans-serif;
}

.breadcrumbs li {
  list-style: none;
}

.breadcrumbs a {
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}
 
.filters .filters-header {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.filters li {
  list-style: none;
}

.filters label {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.goods {
  border: 1px solid #e5e5e5;
}

.goods:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.goods li {
  list-style: none;
}

.goods-name a {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: #000000;
}

.price-current a {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
  color: #ffffff;
  background-color: #ee3643;
}

.price-old {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
  color: #999999;
  text-decoration: line-through;
}

.goods-buttons {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.to-buy {
  color: #ffffff;
  background-color: #63a63e;
  box-shadow: inset 0 -3px 0 #367315;
}

.to-buy:hover {
  background-color: #5fbb2d;
}

.to-buy:active {
  background-color: #518534;
}

.to-favorite {
  color: #32425c;
  box-shadow: inset 0 0 0 3px #63a63e;
}

.to-favorite:hover {
  box-shadow: inset 0 0 0 3px #32425c;
}

.to-favorite:active {
  opacity: 0.3;
}

.button-white {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
}

.footer {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
  background-color: #32425c;
}

.footer a {
  color: inherit;
}

.footer ul {
  list-style: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-top a:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 68px;
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 rgba(0,0,0,0.24);
}

.footer-middle ul {
  color: #ffd180;
}

.footer-middle a:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-middle .phone:hover,
.footer-middle .phone:active {
  color: #f1f5f7;
  text-decoration: none;
}

.footer-bottom {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.feedback-mail a,
.dev-site a {
  color: #ffd180;
}

.feedback-mail a:hover,
.dev-site a:hover {
  text-decoration: underline;
}

.feedback-mail a:active,
.dev-site a:active {
  color: #ee3643;
  text-decoration: none;
}

.popup-letter {
  border-top: 7px solid #ee3643;
  height: 200px;
}

.popup-letter label {
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.popup-letter input,
.popup-letter textarea {
  border: 2px solid #d7dcde;
}

.popup-letter input:hover,
.popup-letter textarea:hover {
  border: 2px solid #b5b5b5;
}

.popup-letter input:focus,
.popup-letter textarea:focus {
  border: 2px solid #ee3643;
}

.popup-letter input::placeholder,
.popup-letter textarea::placeholder {
  font-size: 13px;  
  line-height: 18px;
  color: #a9a9a9;
}

.popup-letter button {
  border: none;
}

.popup-letter .buttons-area {
  background-color: #f1f1f1;
}

.popup-order h3 {
  font-size: 30px;
  line-height: 30px;
}

.popup-order ul {
  list-style: none;
  background-color: #f1f1f1;
}

.popup-order .button-white {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
}

